<ion-header>
  <ion-toolbar>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

<ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="category-card">
          <ion-card-subtitle class="category-text">Meat</ion-card-subtitle>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="category-card">
          <ion-card-subtitle class="category-text">Fish</ion-card-subtitle>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="category-card">
          <ion-card-subtitle class="category-text">Veggie</ion-card-subtitle>
        </ion-card>
      </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
 <ion-row>
  <ion-card class="recipe-card">
    <div class="food">
    <ion-img src=assets\fish.jpg></ion-img>
    </div>
    <ion-card-subtitle>Tuna Salad</ion-card-subtitle>
    <p>Here is more info about the recipe</p>
  </ion-card>
  <ion-card class="recipe-card">
    <div class="food">
      <ion-img src=assets\tomatosoup.jpg></ion-img>
      </div>
    <ion-card-subtitle>Veggie Salad</ion-card-subtitle>
    <p>Here is more info about the recipe</p>
  </ion-card>
</ion-row>
<ion-row>
  <ion-card class="recipe-card">
    <div class="food">
      <ion-img src=assets\fish.jpg></ion-img>
    </div>
    <ion-card-subtitle>Tomato Soup</ion-card-subtitle>
    <p>Here is more info about the recipe</p>
  </ion-card>
  <ion-card class="recipe-card">
    <div class="food">
      <ion-img src=assets\fruitsalad.jpg></ion-img>
      </div>
    <ion-card-subtitle>Spaghetti</ion-card-subtitle>
    <p>Here is more info about the recipe</p>
  </ion-card>
</ion-row>

</ion-grid>

</ion-content>
